#navbar {
	display: flex;
	flex-grow: 1;
	font-size: 18px;
	background-color: #FA8072;
	margin-bottom: 2em;
}

nav ul li {
	margin-left: 0.5em;
	position: relative;
	float: left;
	list-style-type: none;
}

#socialLinks {
	position: absolute;
	right: 3%;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li a:hover {
	color: blue;
}

#currentPage {
	text-decoration: underline;
}