/* Font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/* Colour Scheme */
:root {
    --background: #f7f7f7; /* White Colour */
    --foreground: #D80100; /* Red Colour */

    --primary: #000000;
    --secondary: #2b41ff;

    /* Text */
    --text: black;
    --textAlt: #f7f7f7;
    --textHighlight: #2b41ff;
    --textHover: blue;
}

/* Universal styles */
body {
	font-family: 'Epilogue', sans-serif;
	background-color: var(--background);
	color: var(--text);
	overflow-x: hidden;
}

/*
 *
 *
 * Connor's CSS
 *
 *
 */

/* Navbar */

nav p {
	margin-left: 2em;
	color: var(--textAlt);
}

@media screen and (max-width: 1299px) { /* Mobile */
	#currentPage {
		color: var(--textAlt);
	}

	#navbar {
		display: flex;
		flex-grow: 1;
		font-size: 18px;
		background-color: var(--foreground);
		margin-bottom: 2em;
		border-radius: 1em;
	}

	nav ul li {
		color: var(--textAlt);
		margin-left: 0.8em;
		position: relative;
		list-style-type: none;
	}

	nav button {
		display: inline;
		margin-top: 0.5em;
		margin-left: 0.5em;
		margin-bottom: 0.5em;
		background: none;
		border: none;
		color: var(--textAlt);
	}

	#socialLinks {
		position: absolute;
		top: 0.005%;
		right: 5%;
		color: var(--textAlt);
	}

	#socialLinks li {
		float: left;
		display: inline;
	}

	nav ul li a {
		text-decoration: none;
		color: var(--textAlt);
	}

	nav ul li a:hover {
		color: var(--textAlt);
	}

	#navLinks {
		display: none;
		z-index: 1000;
		top: 2em;
		position: absolute;
		width: 80%;
		height: min-content;
		padding-bottom: 0.3em;
	}

	#navLinks li{
		background-color: var(--foreground);
		positon: absolute;
		left: 1%;
		padding-left: 0.1em;
		padding-top: 0.6em;
		padding-bottom: 0.1em;
		width: 90%;
	}

	#navLinks li a {
		display: inline-block;
		width: 100%;
	}

	#navLinks li:hover {
		background-color: var(--secondary);
		color: var(--textAlt);
	}

	#lastNavItem {
		border-radius: 0px 0px 0.5em 0.5em;
	}

	#socialLinks li a:hover {
		color: var(--textHover);
	}
}

/* Desktop */
@media screen and (min-width: 1300px) {
	#navLinks {
		display: inline;
	}

	#navbar {
		display: flex;
		flex-grow: 1;
		font-size: 18px;
		background-color: var(--foreground);
		margin-bottom: 2em;
		border-radius: 1em;
	}

	#navMenu {
		display: none;
	}

	nav ul li {
		color: var(--textAlt);
		margin-left: 0.8em;
		position: relative;
		float: left;
		list-style-type: none;
	}

	#socialLinks {
		position: absolute;
		top: 0.5%;
		right: 3%;
	}

	nav ul li a {
		text-decoration: none;
		color: var(--textAlt);
	}

	nav ul li a:hover {
		color: var(--textHover);
	}

	#currentPage {
		color: var(--textHighlight);
	}
}

/* Home Page */
#homeMainBody {
	padding-bottom: 3em;
	border-bottom: 3px solid var(--foreground);
}



#homeButton {
	position: relative;
	border: none;
	padding: 1em;
	left: 45%;
	background-color: var(--foreground);
	color: var(--textAlt);
}

#homeButton a, #homeButton a:visited {
	text-decoration: none;
	text-underline: none;
	color: var(--textAlt);
}

#homeGallery {
	left: -5%;
}

@media screen and (max-width: 1300px) {
	#homeGallery {
		left: 5%;
	}
}

@media screen and (max-width: 900px) {
	#homeGallery {
		left: 5%;
	}

	#homeGallery img {
		width: 360px;
		height: 160px;
	}

	#homeButton {
		position: relative;
		border: none;
		padding: 1em;
		left: 35%;
		background-color: var(--foreground);
		color: var(--textAlt);
	}
}

@media screen and (min-width: 901px) {
	#homeGallery img {
		width: 810px;
		height: 360px;
	}
}

@media screen and (min-width: 1800px) {
	#homeGallery img {
		width: 1350px;
		height: 600px;
	}
}

#homeBelowMainBody {
	margin-top: 3em;
}

.registerInterest h3 {
	position: relative;
	left: 30%;
}

.registerInterest input {
	font-size: 14px;
	margin-bottom: 0.5em;
	width: 45%;
	height: 2em;
	border: 0.12em solid var(--foreground);
}

#registerInterestEmail {
	width: 93%;
	height: 2em;
	position: relative;
}

#registerInterestSubmit {
	background-color: var(--secondary);
	color: var(--textAlt);
	border: none;
	border-radius: 1em;
	position: relative;
	left: 24%;
}

/* Calendar */
@media screen and (min-width: 901px) {
	#calendar {
		position: absolute;
		max-width: 930px;
		left: 25%;
	}

	.calendarDayItem {
		position: relative;
		width: 130px;

		height: 110px;
		background-color: #ff6666;
		color: white;
		border: none;
	}

	.calendarDayItem:hover {
		color: var(--secondary);
	}

	.calendarWeekdayName {
		width: 130px;
		border: none;
		background-color: var(--foreground);
		color: var(--textAlt);
	}

	#currentDay {
		color: var(--secondary);
	}

	.calendarDayNumber {
		position: absolute;
		top: 0;
		left: 5%;
	}

	#calendarHeader {
		margin-left: 33%;
		margin-bottom: 1%;
	}

	#calendarMonthYearName {
		display: inline;
	}

	.calendarButton {
		position: absolute;
		border: none;
		background-color: var(--foreground);
		padding: 0.5em;
		color: var(--textAlt);
	}

	#calendarNext {
		right: 5%;
	}

	#calendarPrev {
		left: 5%;
	}

	.calendarButton:hover {
		border: 1px solid var(--secondary);
	}

	.calendarEventName {
		overflow: hidden;
	}

	.greyed {
		color: gray;
	}
}

@media screen and (max-width: 1799px) {
	#calendar {
		position: absolute;
		left: 2%;
	}
}

@media screen and (max-width: 900px) { /* Mobile */
	#calendar {
		position: absolute;
		left: 2%;
		font-size: 14px;
	}

	.calendarDayItem {
		position: relative;
		width: 5em;
		height: 5em;
		background-color: #ff6666;
		color: white;
		border: none;
	}

	.calendarEventName {
		position: absolute;
		top: 17%;
	}

	.calendarDayItem:hover {
		color: var(--secondary);
	}

	.calendarWeekdayName {
		width: 5em;
		border: none;
		background-color: var(--foreground);
		color: var(--textAlt);
	}

	#currentDay {
		color: var(--secondary);
	}

	.calendarDayNumber {
		position: absolute;
		top: 0;
		left: 5%;
	}

	#calendarHeader {
		margin-left: 15%;
		margin-bottom: 6%;
	}

	#calendarMonthYearName {
		display: inline;
		position: absolute;
		margin: auto;
		top: 1%;
		left: 35%;
	}

	.calendarButton {
		position: absolute;
		border: none;
		background-color: var(--foreground);
		padding: 0.5em;
		color: var(--textAlt);
	}

	#calendarNext {
		right: 5%;
	}

	#calendarPrev {
		left: 5%;
	}

	.calendarButton:hover {
		border: 1px solid var(--secondary);
	}
}

/* Boilerplate -- Connor Mackay */
.accordianButton, .accordianButtonSelected {
    width: 25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.galleryGroup {
    position: relative;
    width: min-content;
}

.galleryPrevBtn {
    position: absolute;
    left: 1%;
    top: 50%;
    background: url('../images/material_design/before_arrow.svg');
    background-repeat: no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    background-color: none;
    border: none;
}

.galleryNextBtn {
    position: absolute;
    right: 1%;
    top: 50%;
    background: url('../images/material_design/next_arrow.svg');
    background-repeat: no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    background-color: none;
    border: none;
}

.galleryPrevBtn:hover, .galleryNextBtn:hover  {
    border: 1px solid black;
}

/*
 *
 *
 * Alex's CSS
 *
 *
 */

/* Page Content */
.subtitle {
  background-color: #96b6eb;
  text-align: center;
}
.pfp {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 *
 * Neil's CSS
 *
 *
 */

/*Image gallery for blog - Neil ---------------------------------------------------------------- */


.responsiveGallery {
	box-sizing: border-box;
	padding: 0 6px;
	float: left;
	width: 25%;
}





.blogGallery img {
	width: 100%;
	height: 15vw;

}

/*Media query to make images the right size depending on the screen size.
If the screen has a width above 700px, 4 images will be shown side by side.
If the screen has a width below 700px, 2 images will be shown side by side.
If the screen has a width below 500px, 4 images will be aligned vertically.
*/

@media only screen and (max-width: 500px) {
	.responsiveGallery {
		width: 50%;
		margin: 6px 0;

	}
}

@media only screen and (max-width: 500px){
	.responsiveGallery {
		width: 100%;

	}
}


.responsiveGallery img {
	width: 100%;
	max-width: 400px;
	height: auto;
}


/*--------------------------------------------------------------------------------------*/
/*Blog - Neil ---------------------------------------------------------------------------------------- */

#blogWrapper {
	width: 70%;
	margin-right: auto;
	display: grid;
	padding-top: 5%;
}

#BlogHeader {
	background-color: #eff2f7;
	height: 10%;
	width: 70%;
	margin-bottom: 1%;
}
#BlogHeader h1 {
	margin-left: 1%;
}

.BlogPost {
	background-color: #D80100;
	width: 70%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
.BlogPost h1, p {
	margin-left: 1%;
}



/*Sidebar Neil---------------------------------------------------------------------------------- */

.sidebar {
	width: 20%;
	height: 50%;
	margin-top: 6%;
	float: right;
	margin-right: 3%;
	border: 3px solid #D80100;
	padding: 1%;
}

.sidebar ul {
	list-style-position: inside;

}



/*Blog table Neil----------------------------------------------------------------------------------- */
#t01 {
	width:100%;
}

#t01 table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

#t01 th, td {
	padding: 1.3%;
	text-align: left;
}

#t01 th {
	background-color: lightblue;
}

/*Modal Neil --------------------------------------------------------------------------------- */
/* The Modal (background) */

.sidebar button {
	margin-left: 3%;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}


/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 2%;
	border: 1px solid #888;
	width: 80%;
	padding-bottom: 0;
}

@media only screen and (max-width: 500px) {
	.modal-content {
		padding-bottom: 10%;
	}
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/*Contact page Neil -------------------------------------------------------------------------- */
.message {
	width: 10%;
	height: 10%;
}

.letter {
	color: white;
	width: auto;
	height: auto;
	float: right;
	padding-right: 7%;
	margin-top: 5%;
	border: 3px solid lightblue;
	border-radius: 2.5%;
	right: 0.5%;
	background-color: #D80100;
}



.letter a {
	text-decoration: none;
	color: lightblue;
}

.letter a:hover {
	color: white;
}

.map {
	width: 100%;
	padding: 0;
}


.letter p, h2 {
	margin-left: 4%;
}
.formDiv {
	margin-left: 2.5%;
	float: left;
	margin-top: 1%;
}

/*Members page and Pokemon page (Alex McNaughton) -------------------------------------------------------------------------- */

.subtitle {
  font-family: 'Epilogue', sans-serif;
  background-color: #96b6eb;
  text-align: center;
}
.pfp {
  width: 250px;
  height: 250px;
}
.content {
  font-family: 'Epilogue', sans-serif;
  padding: 5px;
  background-color: white;
}

/*
*
* Norvin's CSS
*
 */


/*Gallery Page and History Page - Norvin R -------------------------------------------------------------------------- */

.gallery {
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: auto;
	border-bottom: solid;
	border-color: black;
	border-width: -10px auto;
}


.galleryimgs {
	float: left;
	width: 33.33%;
	padding: 70px;
	width: 300px;
	height: 300px;
}

.historyinfo {
	font-weight: bold;
	color: rgb(0, 0, 0);
	word-spacing: 4px;
	line-height: 1.4;
	border-style: solid;
	border-color: rgb(255, 0, 0);
	border-width: 5px;
	background-color: rgba(0, 0, 0, 0.493);
}

.pictext {
	font-size: 20px;
	text-align: center;
	width: 400px;
	height: auto;
	text-decoration: underline;
	background-color: red;
	border-style: dashed;
	border-color: black;
}

/* versions Adam--------------------------------------------------------------------------------- */

div.content h3{
    background-color:#D80100;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: FreeMono, monospace ;
    font-size: 20px;
    height: 20%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 1px;
    color: white;
}

div.content p {
    background-color: #D80100;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-family: Helvetica;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 4%;
    color: white;
}

/* FAQ Adam---------------------------------------------------------------------------------------*/

div.faq h3{
	background-color:#D80100;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: FreeMono, monospace ;
	font-size: 20px;
	height: 100%;
	padding-top: 10px;
	padding-left: 20px;
	color: white;
	width: 72%;
}

div.faq p {
	background-color: #D80100;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	font-family: Helvetica;
	height: 100%;
	padding-left: 20px;
	padding-bottom: 50px;
	color: white;
	width: 72%;
}